{% extends 'base.html.twig' %}

{% block title %}Edit Soortactiviteit{% endblock %}

{% block body %}
    <h1>Edit Soortactiviteit</h1>

    {{ include('soortactiviteit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_soortactiviteit_index') }}">back to list</a>

    {{ include('soortactiviteit/_delete_form.html.twig') }}
{% endblock %}
