{% extends 'medewerker.html.twig' %}

{% block title %}New Soortactiviteit{% endblock %}

{% block body %}
    <h1>Create new Soortactiviteit</h1>

    {{ include('soortactiviteit/_form.html.twig') }}

    <a href="{{ path('app_soortactiviteit_index') }}">back to list</a>
{% endblock %}
